<div class="article-body">
    <header class="article-header">
        <h3 class="name-page">Notication</h3>
        <div class="article-header_body">
            <div class="article-noti">
                <i class="fa-regular fa-bell icon article-noti_icon">
                    <div class="article-noti_status"></div>
                </i>
            </div>
            <a class="btn btn_newProject" href="/product/create">
                <i class="fa-solid fa-plus icon"></i>
                New Product
            </a>
            <img class="user_avatar" src="/imgs/userAvatar/user1.gif"></img>
        </div>
    </header>
    <h2 class="title">FeedBacks</h2>
    <main class="article-main">
        <article class="article_left">
            <h2 class="article--title">Staffs</h2>
            <div class="section_notification">
                <h3 class="section_notification--title">Today</h3>
                <a class="notification" href="#">
                    <div class="notification-header">
                        <img src="/imgs/staffs/qoobee_face.jpg" alt="" class="notification-img">
                    </div>
                    <div class="notification-body">
                        <h4 class="notification--title">Infomation about new products</h4>
                        <p class="notification--description">Anna sent a request: "You should review product orders in next month"</p>
                        <p class="notication--time">
                            <i class="fa-regular fa-clock notification--time-icon"></i>
                            30 minutes ago
                        </p>
                    </div>
                </a>

                <a class="notification" href="#">
                    <div class="notification-header">
                        <img src="/imgs/staffs/qoobee_face.jpg" alt="" class="notification-img">
                    </div>
                    <div class="notification-body">
                        <h4 class="notification--title">Required Task</h4>
                        <p class="notification--description">Tuan sent a file</p>
                        <p class="notication--time">
                            <i class="fa-regular fa-clock notification--time-icon"></i>
                            45 minutes ago
                        </p>
                    </div>
                </a>
            </div>

            <div class="section_notification">
                <h3 class="section_notification--title">Yesterday</h3>
                <a class="notification" href="#">
                    <div class="notification-header">
                        <img src="/imgs/staffs/qoobee_face.jpg" alt="" class="notification-img">
                    </div>
                    <div class="notification-body">
                        <h4 class="notification--title">You were mentioned in a task</h4>
                        <p class="notification--description">Sarah Johnson mentioned you in the task 'Prepare Q3 report': '@you can you help with the financial section?'</p>
                        <p class="notication--time">
                            <i class="fa-regular fa-clock notification--time-icon"></i>
                            1 day ago
                        </p>
                    </div>
                </a>
            </div>

            <div class="section_notification">
                <h3 class="section_notification--title">Older</h3>
                <a class="notification" href="#">
                    <div class="notification-header">
                        <img src="/imgs/staffs/qoobee_face.jpg" alt="" class="notification-img">
                    </div>
                    <div class="notification-body">
                        <h4 class="notification--title">Task completed</h4>
                        <p class="notification--description">Michael Belt completed the task 'Update infomation data products in the warehouse.'</p>
                        <p class="notication--time">
                            <i class="fa-regular fa-clock notification--time-icon"></i>
                            5 days ago.
                        </p>
                    </div>
                </a>

                <a class="notification" href="#">
                    <div class="notification-header">
                        <img src="/imgs/staffs/qoobee_face.jpg" alt="" class="notification-img">
                    </div>
                    <div class="notification-body">
                        <h4 class="notification--title">Recuitment Infomation</h4>
                        <p class="notification--description">Demi Joe sent a lot of file: "Here are the job applications from this month's candidates."</p>
                        <p class="notication--time">
                            <i class="fa-regular fa-clock notification--time-icon"></i>
                            5 days ago
                        </p>
                    </div>
                </a>
            </div>
        </article>

        <article class="article_right">
            <h2 class="article--title">System</h2>
            <div class="section_notification">
                <h3 class="section_notification--title">Today</h3>
                <a class="notification" href="#">
                    <div class="notification-header notification-header_system">
                        <i class="fa-solid fa-triangle-exclamation notification--icon icon_warning"></i>
                    </div>
                    <div class="notification-body">
                        <h4 class="notification--title">Bad Response about products page.</h4>
                        <p class="notication--time">
                            <i class="fa-regular fa-clock notification--time-icon"></i>
                            30 minutes ago
                        </p>
                    </div>
                </a>

                <a class="notification" href="#">
                    <div class="notification-header notification-header_system">
                        <i class="fa-solid fa-heart notification--icon icon_heart"></i>
                    </div>
                    <div class="notification-body">
                        <h4 class="notification--title">Store visits increased</h4>
                        <p class="notication--time">
                            <i class="fa-regular fa-clock notification--time-icon"></i>
                            35 minutes ago
                        </p>
                    </div>
                </a>

                <a class="notification" href="#">
                    <div class="notification-header notification-header_system">
                        <i class="fa-solid fa-bug notification--icon icon_error"></i>
                    </div>
                    <div class="notification-body">
                        <h4 class="notification--title">Error System.</h4>
                        <p class="notication--time">
                            <i class="fa-regular fa-clock notification--time-icon"></i>
                            40 minutes ago
                        </p>
                    </div>
                </a>
            </div>

            <div class="section_notification">
                <h3 class="section_notification--title">Older</h3>

                <a class="notification" href="#">
                    <div class="notification-header notification-header_system">
                        <i class="fa-solid fa-heart notification--icon icon_heart"></i>
                    </div>
                    <div class="notification-body">
                        <h4 class="notification--title">Store visits increased</h4>
                        <p class="notication--time">
                            <i class="fa-regular fa-clock notification--time-icon"></i>
                            4 days ago
                        </p>
                    </div>
                </a>

                <a class="notification" href="#">
                    <div class="notification-header notification-header_system">
                        <i class="fa-solid fa-bug notification--icon icon_error"></i>
                    </div>
                    <div class="notification-body">
                        <h4 class="notification--title">Error System.</h4>
                        <p class="notication--time">
                            <i class="fa-regular fa-clock notification--time-icon"></i>
                            10 days ago
                        </p>
                    </div>
                </a>
            </div>
        </article>
    </main>
</div>